body{
	margin-left:10px;
}

#choose_layouts .layout, .video_container{
	border: dashed blue 1px;
	padding: 10px;
	margin: 5px 0;
}
#cameras {
	width: 50px;
	min-height: 300px;
}
#cameras .cam {
	height: 40px;
	width: 50px;
	margin: 5px 0;
}
#choose_layouts {
	min-height: 100px;
}
#choose_layouts .layout{
	float: left;
	margin-right: 10px;
	cursor: pointer;
}
#cameras{
	float: left;
	width: 50px;
}
#choose_layouts, #video_container {
	margin-left: 70px;
}

#video_containers{
	position:relative;
	border: dotted red 1px;
	margin-left: 60px;
}
.video_container{
	min-height: 50px;
	/*width: 482px;*/
	display: inline-block;
	position: relative;
	/*top: 225px;*/
}
#vc_1{
	/*left: 70px;*/
}
#vc_2{
	/*left: 460px;*/
}
#vc_3{
	/*left: 650px;*/
}

#vc_selectors input {
	margin-left: 180px;
}


.clear {
	clear: both;
}
p.float {
	vertical-align: top;
	float: left;
	margin: 0;
	padding-right: 10px;
}

.hidden {
	display: none;
}

/* Layout measurements */
/* .... */

#debug_history{
	font-size: 11px;
	color: #aaa;
	height: 400px;
	/*width: 450px;*/
	overflow:-moz-scrollbars-vertical;
}



.e1{
	position: absolute;
	border: 1px #5a5 solid;
	width: 120px;
	height: 98px;
}
#e1{
	top: 400px;
	left: 720px;
	background: #afa;
}

.clone {
	background: none;
}